<%- include("header"); -%>
    <div class="bannergallery">
    </div>
    <main>
      <h1>Galerij</h1>

      <div class="button-group filter-button-group">
        <button class="button is-checked" data-filter="*">Toon Alle</button>
        <button class="button" data-filter=".woonkamer">De Woonkamer</button>
        <button class="button" data-filter=".hal">De Hal</button>
        <button class="button" data-filter=".zolderkamer">De Zolderkamer</button>
      </div>
    </main>

    <div class="galerijfotos">
      <% for (var i = 0; i < gallery.length; i++) { %>
        <div class="fotokader element-item <%=gallery[i].roomFilter%>">
            <div class="zone1">
              <img src="<%=gallery[i].imageURL%>" alt="Foto van <%=gallery[i].titel%>">
              <h3><%=gallery[i].titel%></h3>
              <h4><%=gallery[i].artist%></h4>
              <button type="button" name="button" class="toonMeer">Meer info<br><i class="material-icons">expand_more</i></button>
            </div>
            <div class="zone2">
              <div class="extrainfo">
                <h5>Details</h5>
                <p><strong>Omschrijving: </strong><%=gallery[i].description%></p>
                <p><strong>Datum: </strong><%=gallery[i].date%></p>
                <p><strong>Periode: </strong><%=gallery[i].period%></p>
                <p><strong>Thuis vorm: </strong><%=gallery[i].printedOn%></p>
                <p><strong>Plaats van originele werk: </strong><%=gallery[i].placeOfOriginalWork%></p>
                <p><strong>Zaal: </strong><%=gallery[i].room%></p>
              </div>
              <h5>Meer foto's</h5>
              <img src="<%=gallery[i].image2URL%>" alt="Foto van <%=gallery[i].titel%>">
              <img src="<%=gallery[i].image3URL%>" alt="Foto van <%=gallery[i].titel%>">
              <img src="<%=gallery[i].image4URL%>" alt="Foto van <%=gallery[i].titel%>">
            </div>
        </div>
      <% } %>
    </div>

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/slideshow.js"></script>
<%- include("footer"); -%>
